<fieldset>
    <legend>Edit List</legend>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 justify-content-center">

            <!-- TITLE -->
            <div class="form-group">
                <label for="list-title">Title</label><br>
                <input class="form-control" id="list-title" type="text" name="title" value="{{list.title}}" />
            </div>

            <!-- DESCRIPTION -->
            <div class="form-group">
                <label for="list-description">Description</label></br>
                <textarea class="form-control" id="list-description" name="description"
                    rows="7" />{{list.description}}</textarea>
            </div>

            {{!-- CK: We do not have a place here for resources, because the user does not directly input them via form. --}}
        </div>
    </div>
</fieldset>