<nav class="navbar-navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="/">
        Big Mood
      </a> -->
      <a href="/">
      {{!-- CK: I am commenting these out FOR NOW because they won't render on my machine. --}}
      {{!-- <img src="logo.png">
      <img src="justLogog.png"> --}}
      </a>
    </div>
    <div class="pull-right">
      <a href="/resources/new" class="btn btn-default navbar-btn">Create content</a>
      <a href="/index"><font size=1 color="black">admin</font></a>
    </div>
  </div>
</nav>
