<fieldset>
  
  <!-- Body // "Description" -->
  <div class="form-group">
    <label for="resource-title">Quick Description of Media</label><br>
    <textarea class="form-control" id="resource-resource" name="resource"/>{{resource.resource}}</textarea>
  </div>

  <!-- Link -->
  <div class="form-group">
    <label for="content-link">Link/URL</label><br>
    <input class="form-control" id="resource-link" type="text" name="author" value="{{resource.link}}"/>
  </div>

  {{!-- CK: I don't believe we have any use for this at present, but I left it because it could come in useful, depending on which direction we take Big Mood in the future. --}}
  <!-- time stamp -->
  <div class="form-group">
    <input class="form-control" id="timestamp" type="hidden" name="timestamp" value="{{resource.time}}" />
  </div>

  <!-- MOOD -->
  <div class="form-group">
    <label for="resource-mood">Mood</label><br>
    <input class="form-control" id="resource-mood" type="text" name="moodString" value="{{moodString}}" />
  </div>


</fieldset>
