<fieldset>
  <legend>Add content</legend>


  <!-- Body // "Description" -->
  <div class="form-group">
    <label for="resource-title">Quick Description of Media</label><br>
    <textarea class="form-control" id="resource-resource" name="resource"/>{{resource.resource}}</textarea>
  </div>

  <!-- Link -->
  <div class="form-group">
    <label for="content-link">Link/URL</label><br>
    <input class="form-control" id="resource-link" type="text" name="author" value="{{resource.link}}"/>
  </div>

  <!-- time stamp -->
  <div class="form-group">
    <input class="form-control" id="timestamp" type="hidden" name="timestamp" value="{{resource.time}}" />
  </div>

  <!-- MOOD -->
  <div class="form-group">
    <label for="mood">Mood</label><br>
    <input class="form-control" id="resource-mood" type="text" name="mood" value="{{resource.mood}}" />
  </div>


</fieldset>
