<div class="jumbotron">
  <p class="lead">{{resource.resource}}</p>
  <p>-{{resource.author}}</p>
  <p>{{resource.hashtag}}</p>
  <p class="lead">
  </p>
</div>


<h3><center><a href="/">Refresh</a></center></h3>
