{{!-- CK: each of these guys needs a route, I think? Like at least a res.render(/page) --}}

<div class="jumbotron">
    <div class="landing">
        <button><a href="/angry">Angry</a></button>
        <button><a href="/bored">Bored</a></button>
        <button><a href="/frustrated">Frustrated</a></button>
        <button><a href="/lonely">Lonely</a></button>
        <button><a href="/sad">Sad</a></button>
    </div>
</div>
