<!-- this is where we will put the list of saved content items -->

<legend>My Favorites</legend>
<br>
<div class='container'>
  <div class='jumbotron'>


    {{#if this.user}}
    {{#each user.likedContent}}

    <div class='row'>
      <div class='col-sm' <a href='{{this.link}}' class='lead'>{{this.resource}}</a>
        <p>Mood: {{this.mood}}</p>
      </div>
    </div>
    {{/each}}
    {{/if}}

  </div>
</div>