<!-- this is where we will put the list of saved content items -->

<legend>My Favorites</legend>
<br>
<div class='container'>
  <div class='homeCard'>

    {{#if currentUser}}
    {{#each currentUser.likedContent}}
    <br>
    <div class='row'>
        <div class="card text-center jumbotron" >
          <div class="card-header h3">
            I'm Feeling {{this.mood}}
          </div>
          <div class="card-body">
            <h5 class="card-title h2">{{this.resource}}</h5>

            <a href={{this.link}} class="card-link h4">Take Me</a>
          </div>
          <!-- <div class="card-footer text-muted">
              <p class="card-link">
                <form action="/user/favorites/{{resource._id}}" method="post">
                  <div><button type='submit' class='card-link h6 '>Save To Favorites</button></div>
                </form>
              </p>
          </div> -->
        </div>
    </div>
    <br>
    {{/each}}
    {{/if}}

  </div>
</div>
