<!-- this is where we will put the list of saved content items -->

<legend>My Favorites</legend>
<br>
<div class='container'>
  <div class='jumbotron'>

    {{#if currentUser}}

    {{!-- {{#if this.user}} --}}
    {{#each user.likedContent}}

    <div class='row'>
      <div class='col-sm' <a href='{{likedContent.link}}' class='lead'>{{likedContent.resource}}</a>
        <p>Mood: {{likedContent.mood}}</p>
      </div>
    </div>
    {{/each}}
    {{!-- {{/if}} --}}

    {{else}}
    <div class='row'>
      <div class='col-sm' class='lead'>
        <legend>No Favorites :( Sign up to start saving favorites!</legend>
      </div>
    </div>
    {{/if}}

  </div>
</div>