<div class="card text-center jumbotron" >
  <div class="card-header">
    <!-- I'm Feeling {{resource.mood}} -->
  </div>
  <div class="card-body">
    <h1 class="card-title">Sorry!</h1>
    <p>You can't save unless you're logged in.</p>

    <a href=/login class="btn btn-primary">Log In</a>
    <a href=/sign-up class="btn btn-primary">Sign Up</a>
  </div>
  <div class="card-footer text-muted">
    <!-- {{resource.time}} -->
  </div>
</div>
