<fieldset>
    <div class="row">
        <div class="col-sm-4">
            <form action="/login" method="POST">
            <legend>Log In</legend>

            <div class="form-group">
                <input type="text" name="username" class="form-control" id="username" size="30" placeholder="username">
            </div>

            <div class="form-group">
                <input type="password" name="password" class="form-control" id="password" size="30" placeholder="password">
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Let's Go!</button>
            </div>
            </form>
        </div>
    </div>
</fieldset>