<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/resources">
        <fieldset>
          <legend>Add New Resource</legend>
            {{> resources-form}}

        </fieldset>

      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit" onclick="getTimeStamp();">Submit</button>
      </div>
    </form>
  </div>
</div>
