<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/resources/{{resource._id}}?_method=PUT">
      {{> resources-form}}

      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save content</button>
      </div>
    </form>
  </div>
</div>
