<form action="/sign-up" method="POST" onsubmit="return false;">
{{!-- CK: The following input tags originally had "required" at the end - I have removed them. Put them back if this change has made the whole thing non-functional. --}}
  <input type="text" size="30" value="" placeholder="username">
  <input type="password" size="30" value="" placeholder="password">

  <script type="text/javascript">
  function signupViaAjax() {
     fetch("/sign-up")
       .then(function(data) {
           Cookies.set('token', data.token);
           console.log(data)
         // Here you get the data to modify as you please
       })
       .catch(function(error) {
         // If there is any error you will catch them here
       });
       window.location.href = "/";
   }
  </script>


  <input type="submit" value="Sign Up" onclick="signupViaAjax()">
</form>
