<div class="jumbotron">
  <p class="lead">{{resource.resource}}</p>
  <p><a href="{{resource.author}}">{{resource.author}}</a></p>
  <p>{{resource.hashtag}}</p>
  <p class="lead">
  </p>
</div>


<h3><center><a href="/angry">Refresh</a></center></h3>
